@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

#containerBenchmark{
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 40px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.logo-benchmark img{
    width: 150px;
}

.container-welcomepage{
    max-width: 1200px;
}

.p-bigger{
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    margin: 80px 0 40px 0;
    line-height: 0.7;
}

.bold{
    font-weight: bold;
}

.purple{
    color: #D20094;
    font-size: 1.5em;
}

ul li{
    list-style: disc;
    list-style-position: inside;
    padding: 4px 0;
}

.padding-tb{
    padding: 20px 0;
    margin-bottom: 30px;
}

.checkbox-bench{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.checkbox-flex{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
}

.checkbox-flex label{
 display: block;
 padding: 2px 0 12px 32px;
}

.checkbox-flex input{
    height: 4px;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 4px;
}

.checkbox-flex input + label::before {
    border: 2px solid;
	content: "";
	height: 15px;
	left: 0;
	position: absolute;
	top: 0;
	width: 15px;
}

.checkbox-flex input + label::after {
    content: "";
	border: 4px solid;
	border-left: 0;
	border-top: 0;
	height: 10px;
	left: 4px;
	opacity: 0;
	position: absolute;
	top: -1px;
	transform: rotate(45deg);
	transition: opacity 0.2s ease-in-out;
	width: 7px;
}

.checkbox-flex input:checked + label::after{
    opacity: 1;
}

.btn-light{
    background-color: #00FFFF;
    box-shadow: 0px 0px 17px 6px rgba(0,255,255,0.46);
    border: none;
    padding: 10px 30px;
    font-weight: bold;
}

.btn-light:hover{
    cursor: pointer;
}
