@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap');

#containerBenchmark{
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    padding: 40px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.logoBenchmark img{
    width: 150px;
}

.pBigger{
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    margin: 80px 0 40px 0;
    line-height: 0.7;
}

.bold{
    font-weight: bold;
}

.purple{
    color: #D20094;
    font-size: 1.5em;
}

ul li{
    list-style: disc;
    list-style-position: inside;
    padding: 4px 0;
}

.paddingTB{
    padding: 20px 0;
    margin-bottom: 30px;
}

.checkboxFlex{
    display: flex;
    align-items: baseline;
}

.checkboxBench{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}

.btnLight{
    background-color: #00FFFF;
    box-shadow: 0px 0px 17px 6px rgba(0,255,255,0.46);
    border: none;
    padding: 10px 30px;
    font-weight: bold;
}

.btnLight:hover{
    cursor: pointer;
}

input[type="checkbox"] {
    background: #990000;    
}


/* _______________________________RESULT PAGE________________________________ */
#resultPageBenchmark{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 100%;
}

#titleResultPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}

#resultTxt{
    font-weight: bold;
}

.sottoTesto{
    font-size: 1.3em;
}

#centralBench{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}

#containerbuttonRateUs{
    display: flex;
    padding-left: 20px;
}

#buttonRateUs{
    color: white;
    background-color: rgba(255, 255, 255, 0.034);
    padding: 15px 60px;
    border: 2px solid white;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0px 0px 12px 1px rgba(0, 255, 255, 0.233);
    cursor: pointer;
    margin: 30px;
}

.correctWrong, .percentualiCW, #resultTxt{
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
    line-height: 0.7;
    margin: 16px 0;
}

#wrongQuestions{
    text-align: right;
}


.percentualiCW{
    font-weight: bold;
}

#myDoughnutChart{
    height: 350px;
    width: 350px;
    margin: 50px;
    border-radius: 100%;
    }

#internalCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    height: 210;
    width: 230;
}

#blueCircle{
    position: relative;
}

.subtitleCircle{
    color: #00FFFF;
    margin: 5px 0 15px 0;
}

#circleTxt{
    font-size: 0.8em;
    padding: 25px;
}
